* {
    box-sizing: border-box;
}
:root {
    --main-color: #18001b;
    --alt-color: #fff5ea;
    --add-color: #b85573;
}

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%container{
    width: 80%;
    height: 100%;
}
